body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #fff;
    width: 100%;
}

header {
    background-image: url(img/header-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 35px;
    padding-bottom: 680px;
}

header nav {
    /*width: 37.5%;*/
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d4959;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31%;
}

header nav ul li:not(.dot) {
    cursor: pointer;
}

header nav ul li.dot {
    cursor: default;
}

header nav ul:first-of-type {
    padding-left: 20%;
    padding-right: 5%;
}

header nav ul:last-of-type {
    padding-right: 20%;
    padding-left: 5%;
}

section.paragraph {
    background-color: #f7f7f7;
}

section.paragraph .inner {
    width: 67.5%;
    margin: auto;
    text-align: center;
    padding-top: 117px;
    padding-bottom: 140px;
}

section.paragraph h4, div.paragraph h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #353738;
    display: block;
    padding-top: 34px;
    padding-bottom: 35px;
}

section.paragraph p, div.paragraph p {
    line-height: 1.9;
    font-size: 18px;
    color: #848789;
    display: block;
}

section.gallery {
    display: flex;
}

section.gallery div.leftSide {
    background-image: url(img/firstGallery-bg.png);
    background-size: cover;
    background-position: center;
    width: 66.7%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

section.gallery div.rightSide {
    width: 33.3%;
    height: auto;
    display: flex;
    flex-direction: column;
}

section.gallery .topSide {
    text-align: center;
    padding: 70px 69px 55px;
    box-sizing: border-box;
}

section.gallery div.topSide.paragraph h4 {
    margin: 31px auto 26px;
    padding: 0;
}

section.gallery div.topSide.paragraph p {
    font-size: 16px;
    text-align: justify;
}

section.gallery div.topSide.paragraph p:before {
    content: '';
    display: block;
    margin-top: -10px;
}

section.gallery div.topSide.paragraph p:after {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #d7d7d7;
    display: block;
    margin: 30px auto 0;
}

section.gallery .bottomSide {
    background-image: url(img/firstGalleryLeftSideBottom-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 200px;
}

section.gallery .bottomSide:before {
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
}

section.gallery.reversed {
    flex-direction: row-reverse;
}

section.gallery.reversed div.leftSide {
    background-image: url(img/reversedGalleryMain-bg.png);
}

section.gallery.reversed div.rightSide div.bottomSide {
    background-image: url(img/reversedGallerybottom-bg.png);
}

section.gallery.threeSegment div.leftSide {
    width: 33.3%;
    background-image: url(img/Section3/leftSide-bg.png);
}

section.gallery.threeSegment div.middle {
    width: 33.4%;
}

section.gallery.threeSegment div.middle div.bottomSide {
    background-image: url(img/Section3/middleBottom-bg.png);
}

section.gallery.threeSegment div.rightSide {
    width: 33.3%;
    background-image: url(img/Section3/rightSide-bg.png);
    background-size: cover;
    background-position: center;
    align-self: stretch;
}

section.paragraph.second .inner {
    padding-bottom: 68px;
}

section.paragraph.second .inner h4 span {
    font-weight: 300;
    color: #848789;
}

section.paragraph.second .inner p {
    font-style: italic;
}

section.paragraph.second .inner .commentSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

section.paragraph.second .inner .commentSelect div {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a9afb3;
    cursor: pointer;
}

section.paragraph.second .inner .commentSelect div:first-of-type {
    margin-right: 9px;
}

section.paragraph.second .inner .commentSelect div:last-of-type {
    margin-left: 9px;
}

section.paragraph.second .inner .commentSelect div.selected {
    background-color: #a9afb3;
}

section.manyPhotosGallery {
    display: flex;
    width: 100%;
    align-items: stretch;
}

section.manyPhotosGallery div.leftSide,
section.manyPhotosGallery div.rightSide {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

section.manyPhotosGallery div.leftSide div.topSide,
section.manyPhotosGallery div.rightSide div.bottomSide {
    width: 100%;
    display: flex;
    height: 268px;
    /*padding: 30% 0;*/
}

section.manyPhotosGallery div.leftSide div.topSide div,
section.manyPhotosGallery div.rightSide div.bottomSide div {
    width: 50%;
    background-position: center;
    background-size: cover;
}

section.manyPhotosGallery div.leftSide div.topSide .leftSide {
    background-image: url(img/Section4/leftTopLeft-bg.png);
}

section.manyPhotosGallery div.leftSide div.topSide .rightSide {
    background-image: url(img/Section4/leftTopRight-bg.png);
}

section.manyPhotosGallery div.rightSide div.bottomSide .leftSide {
    background-image: url(img/Section4/rightBottomLeft-bg.png);
}

section.manyPhotosGallery div.rightSide div.bottomSide .rightSide {
    background-image: url(img/Section4/rightBottomRight-bg.png);
}

section.manyPhotosGallery div.leftSide div.bottomSide,
section.manyPhotosGallery div.rightSide div.topSide {
    width: 100%;
    height: 268px;
    background-position: center;
    background-size: cover;
}

section.manyPhotosGallery div.leftSide div.bottomSide {
    background-image: url(img/Section4/leftBottom-bg.png);
}

section.manyPhotosGallery div.rightSide div.topSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

section.manyPhotosGallery div.rightSide div.topSide .shopBackground {
    background-image: url(img/Section4/rightTop-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    left: 50%;
    top: 50%;
    z-index: 1;
}

section.manyPhotosGallery div.rightSide div.topSide:hover .shopBackground {
    transform: translate(-50%, -50%) scale(1.2);
}

section.manyPhotosGallery div.rightSide div.topSide .shopWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    z-index: 5;
}

section.manyPhotosGallery div.rightSide div.topSide:not(cover):hover .shopWrapper {
    /*transition: transform 1s;*/
    transform: translate(-50%, -50%) scale(1.5);
}

section.manyPhotosGallery div.rightSide div.topSide .cover {
    width: 100%;
    height: 100%;
    background-color: #64c29e;
    filter: opacity(80%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transition: 1s;
}

section.manyPhotosGallery div.rightSide div.topSide:hover .cover {
    filter: opacity(0%);
}

section.manyPhotosGallery div.rightSide div.topSide span {
    content: "SHOP NOW";
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 14px;
}

section.manyPhotosGallery div.rightSide div.topSide * {
    position: relative;
    z-index: 3;
}

section.manyPhotosGallery div.middle {
    display: flex;
    width: 33.4%;
}

section.manyPhotosGallery div.middle div {
    display: flex;
    width: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

section.manyPhotosGallery div.middle div.leftSide {
    background-image: url(img/Section4/middleLeft-bg.png);
}

section.manyPhotosGallery div.middle div.rightSide {
    background-image: url(img/Section4/middleRight-bg.png);
}

section.shop {
    background-color: #282f35;
    text-align: center;
}

section.shop button {
    appearance: none;
    -webkit-appearance: none;
    border: #94979a solid 1px;
    border-radius: 0;
    padding: 20px 55px 18px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    margin: 75px auto;
    cursor: pointer;
}

section.shop button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

section.insertEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.insertEmail .logo {
    margin-top: 109px;
    margin-bottom: 39px;
}

section.insertEmail h5 {
    font-size: 24px;
    color: #848789;
    font-style: italic;
    margin-bottom: 39px;
}

section.insertEmail .inputWrapper {
    display: flex;
    margin-bottom: 111px;
}

section.insertEmail .inputWrapper .email {
    font-size: 20px;
    font-style: italic;
    color: #929292;
    text-indent: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d3d7d9;
    width: 400px;
    height: 69px;
    margin-right: 8px;
}

section.insertEmail .inputWrapper .button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    background-color: #64c29e;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    width: 126px;
    height: 69px;
    cursor: pointer;
}

section.insertEmail .inputWrapper .button:hover {
    background-color: #78d7b2;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f7f7;
    color: #848789;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
}

footer .leftSide {
    color: #848789;
    margin-top: 98px;
    margin-bottom: 105px;
}

footer .leftSide h3 {
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
}

footer .middle img:not(:last-of-type) {
    margin-right: 15px;
}

footer .middle img {
    cursor: pointer;
}

footer .rightSide {
    display: flex;
    align-items: center;
}

footer .rightSide span {
    padding-left: 80px;
    margin-right: 10px;
}

@media (min-width: 1025px) {

}

/*Tablet*/
@media (max-width: 1024px) {

    header nav ul {
        font-size: 15px;
    }

    header nav ul:first-of-type {
        padding-left: 10%;
    }

    header nav ul:last-of-type {
        padding-right: 10%;
    }

    section.paragraph .inner {
        width: 90%;
        padding: 70px 0 90px;
    }

    section.paragraph div.inner h4 {
        font-size: 18px;
    }

    section.paragraph div.inner p {
        font-size: 16px;
        text-align: justify;
    }

    section.gallery .paragraph.paragraph.paragraph {
        padding: 10%;
    }

    section.paragraph.second .inner {
        padding-top: 7%;
        padding-bottom: 10%;

    }

    section.manyPhotosGallery {
        flex-wrap: wrap;
    }

    /*section.manyPhotosGallery div.middle {*/
    /*flex-wrap: wrap;*/
    /*width: 33.3%;*/
    /*}*/
    section.manyPhotosGallery.manyPhotosGallery.manyPhotosGallery div {
        width: 100%;
    }

    section.manyPhotosGallery div.middle div {
        /*width: 100%;*/
        padding: 50% 0;
    }

    section.manyPhotosGallery div.rightSide div.topSide .shopWrapper span {
        font-size: 18px;
    }

    section.manyPhotosGallery div.rightSide div.topSide .shopWrapper img {
        width: 100px;
        height: auto;
    }

    footer .rightSide span{
        padding-left: 0;
    }

}

/*Mobile*/
@media (max-width: 667px) {

    header nav {
        width: 90%;
    }

    header nav ul li.dot {
        display: none;
    }

    header nav ul {
        font-size: 16px;
        flex-direction: column;
    }

    header nav ul li:first-of-type {
        margin-bottom: 30px;
    }

    header nav ul:first-of-type,
    header nav ul:last-of-type {
        padding: 0;
    }

    header nav img {
        max-width: 80px;
        width: 25%;
        height: auto;
    }

    section.gallery {
        flex-wrap: wrap;
    }

    section.gallery .leftSide.leftSide.leftSide {
        width: 100%;
        padding: 50% 0;
    }

    section.gallery .rightSide.rightSide.rightSide {
        width: 100%;
    }

    section.gallery .middle.middle.middle {
        width: 100%;
    }

    section.gallery .paragraph.paragraph.paragraph {
        padding: 5%;
    }

    section.gallery.threeSegment .rightSide.rightSide {
        padding: 50% 0;
    }

    section.paragraph.second .inner .commentSelect {
        margin-top: 15%;
    }

    section.insertEmail .logo {
        margin-top: 80px;
    }

    section.insertEmail .inputWrapper {
        flex-direction: column;
        margin-bottom: 80px;
        width: 70%;
        min-width: 300px;
    }

    section.insertEmail .inputWrapper .email {
        padding: 0;
        margin: 0 0 5px;
        width: 100%;
    }

    section.insertEmail .inputWrapper .button{
        width: 100%;
    }
    footer{
        flex-direction: column;
        justify-content: center;
    }

    footer .leftSide{
        margin-top: 50px;
        margin-bottom: 0;
    }

    footer div.leftSide,
    footer div.middle,
    footer div.rightSide{
        margin-bottom: 20px;
    }

}






















































