body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 400;
    background-color: #fff;
    width: 100%;
}

nav {
    background-color: #000000;
    width: 100%;
}

.inner {
    width: 78.5%;
    max-width: 1100px;
    margin: auto;
}

nav .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 79px;
    height: auto; /*27px;*/
    padding: 21px 0 22px;
}

nav .inner ul {
    display: flex;
}

nav .inner ul li {
    font-weight: 600;
    font-size: 10px;
    color: #fff;
}

nav .inner ul li:not(:first-of-type) {
    padding-left: 45px;
}

header {
    width: 100%;
    background-image: url(img/headerCover.jpg);
    background-position: center;
    background-size: cover;
}

header .inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 139px;

}

header .leftSide {
    color: #fff;
    width: 47%;
}

header .leftSide .logo {
    width: 175px;
    height: 60px;
    margin-top: 110px;
    margin-bottom: 34px;
}

header .leftSide h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    margin-bottom: 40px;
}

header .leftSide p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 47px;
}

header .leftSide .lineSeparator {
    width: 64px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 40px;
    display: block;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2); /* <-------here!*/
}

header .leftSide button {
    -webkit-appearance: none;
    appearance: none;
    padding: 14px 30px 13px;
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    background: none;
    font-size: 11px;
    font-weight: 600;
}

header .rightSide {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
}

header .rightSide .box {
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header .rightSide .box h4 {
    font-weight: 700;
    font-size: 14px;
    margin: 20px auto;
}

header .rightSide .box h4 span {
    color: #ff8b38;
}

header .rightSide input:not(.submit) {
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 285px;
    color: #bdbdbd;
    font-size: 10px;
    background: none;
    padding: 10px 13px;
    border: none;
    border-left: 1px solid #fbfbfb;
    border-bottom: 1px solid #bdbdbd;
    margin: 0 38px 35px;
}

header .rightSide input.submit {
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 23px 0 21px;
    background-color: #ff8b38;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

header .rightSide input.submit:hover {
    filter: brightness(110%);
}

.brandBar {
    box-shadow: 1px 0 5px #b7b7b7;
}

.brandBar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandBar .inner .container {
    width: 32.7%;
    max-width: 360px;
}


.brandBar .inner .container h3 {
    font-weight: 700;
    font-size: 15px;
    padding-top: 23px;
    padding-bottom: 5px;
}

.brandBar .inner .container p {
    color: #86878b;
    font-size: 10px;
    line-height: 20px;
    padding-bottom: 23px;
}

section.mainSection{
    background-color: #f5f5f5;
    padding-top: 145px;
    padding-bottom: 115px;
}

section.mainSection .inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

section.mainSection .leftSide {
    display: flex;
    flex-direction: column;
}

section.mainSection .leftSide .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    width: 110px;
    height: 110px;
    background-color: #333333;
    box-shadow: 0 1px 2px #c7c7c7;
}

section.mainSection .leftSide .tab:not(:last-of-type) {
    /*border-bottom: #c7c7c7 solid 1px;*/
    margin-bottom: 1px;
}

section.mainSection .leftSide .tab:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
section.mainSection .leftSide .tab:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

section.mainSection .leftSide .tab.active{
    background-color: #ff8b38;
}

section.mainSection .leftSide .tab:hover{
    filter: brightness(110%);
}

section.mainSection .middle{
    width: 475px;
}

section.mainSection .middle h3{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 48px;
    padding-top: 10px;
}

section.mainSection .middle p{
    color: #86878b;
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
}

section.mainSection .middle p:not(:last-of-type){
    padding-bottom: 20px;
}

section.mainSection .middle p:last-of-type{
    padding-bottom: 52px;
}

section.mainSection .middle button{
    -webkit-appearance: none;
    appearance: none;
    padding: 16px 25px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #ff8b38;
    font-size: 11px;
    font-weight: 600;
    box-shadow: 0 1px 2px #c7c7c7;
}

section.mainSection img.city{
    margin-top: 24px;
}

section.features{
    padding-top: 110px;
    padding-bottom: 135px;
}

section.subList .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.features .picture{
    padding-left: 41.7%;
    padding-bottom: 27.9%;

    /*width: 41%;*/
    /*height: auto;*/
    /*padding-bottom: 303px;*/
    min-width: 452px;
    min-height: 303px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    box-shadow: 1px 1px 36px #9b9b9b;
}

section.subList .picture{
    background-image: url(img/sl1.jpg);
}

section.features .inner > .paragraph{
    width: 39.5%;
}

section.features .paragraph h3{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}

section .inner .lineSeparator{
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin-bottom: 30px;
}

section.features .inner .paragraph p{
    font-size: 10px;
    color: #86878b;
    line-height: 20px;
}

section.subList .inner > .paragraph > p{
    padding-bottom: 50px;
}


section.subList .paragraph .innerParagraph{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

section.subList .paragraph .innerParagraph .icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 2px solid #ff8b38;
    box-sizing: border-box;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

section.subList .paragraph .innerParagraph.one .icon{
    background-image: url(img/cloudUpload.png);
}

section.subList .paragraph .innerParagraph.two .icon{
    background-image: url(img/cloudDownload.png);
}

section.subList .paragraph .innerParagraph .paragraph {
    width: 83%;
    margin-bottom: 40px;
}


section.subList .paragraph .innerParagraph .paragraph h4{
    font-weight: 600;
    font-size: 11px;
    padding-bottom: 4px;
}

section.standardPicture{
    background-color: #f5f5f5;
}

section.standardPicture .inner div.picture{
    background-image: url(img/sl2.jpg);
}

section.standardPicture .inner{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
}

section.standardPicture .inner .paragraph p:not(:last-of-type) {
    margin-bottom: 20px;
}

section.raleway{
    padding: 108px 0 95px;
}

section.raleway .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.raleway .inner > h3{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 30px;
}

section.raleway .inner .lineSeparator{
    margin-bottom: 20px;
}

section.raleway .inner > p,
section.ourProcess p{
    font-size: 10px;
    color: #86878b;
    line-height: 20px;
}

section.ourProcess p{
    margin-bottom: 10px;
}

section.ourProcess ul{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 83px;
}

section.ourProcess ul li{
    width: 32.27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.ourProcess  ul li .icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    border: 2px solid #ff8b38;
    box-sizing: border-box;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

section.ourProcess  ul li.one .icon{
    background-image: url(img/lightbulb.png);
}

section.ourProcess  ul li.two .icon{
    background-image: url(img/keyboard.png);
    background-size: 30px;
}

section.ourProcess  ul li.three .icon{
    background-image: url(img/lightining.png);
}

section.ourProcess  ul li h4{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}

section.pricing {
    background-color: #f5f5f5;
}

section.pricing .inner > ul{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

section.pricing .inner > ul > li{
    width: 31.36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.pricing .inner > ul > li h4{
    width: 100%;
    background-color: #333333;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 22px 0;
    margin-bottom: 2px;
}

section.pricing .inner > ul > li .price{
    background-color: #333333;
    width: 100%;
    color: #fff;
}

section.pricing .inner > ul > li .price .topSide{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

section.pricing .inner > ul > li .price .topSide .dollarSign{
    font-size: 30px;
    margin-bottom: 33px;
}

section.pricing .inner > ul > li .price .topSide .small{
    font-size: 54px;
}

section.pricing .inner > ul > li .price .topSide .large{
    font-size: 67px;
    align-self: start;
}

section.pricing .inner > ul > li .price .bottomSide{
    width: 100%;
    font-weight: 600;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 22px;
}

section.pricing .inner > ul > li .popularityBanner{
    width: 100%;
    min-height: 5px;
    background-color: #ff8b38;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

section.pricing .inner > ul > li .popularityBanner.popular{
    padding: 15px 0;
}

section.pricing .inner > ul > li .perks{
    width: 100%;
    text-transform: uppercase;
    font-size: 10px;
    color: #86878b;
}

section.pricing .inner > ul > li .perks li{
    background-color: #fff;
    padding: 15px 0;
    margin-bottom: 1px;
}












































