body {
    background-image: url("img/bgImg.jpg");
    font-family: Verdana;
    font-size: 12px;
    color: white;
}

section {
    background-color: #e0e9f0;
    margin: 30px auto;
    border-radius: 15px;
    padding: 3%;
    width: 60%;
    text-align: center;
}

div.block {
    display: inline-block;
    border-radius: 10px;
    width: 40%;
    max-width: 400px;
    /*margin: 3% 4%;*/
    padding: 3% 3% 5%;
}

.block.blue {
    background-color: #58a3c5;
    text-align: justify;
}

.block.red {
    background-color: #e97575;
    text-align: justify;
}