body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    flex-direction: column;
    background: #FF4E50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.word {
    text-align: center;
    margin: 100px auto;
}

.word .letter {
    display: inline-block;
    vertical-align: bottom;
    font-size: 100px;
    border-bottom: 4px solid #ffffff;
    width: 70px;
    margin: 0 5px;
    height: 110px;
    line-height: 110px;
    text-transform: capitalize;
}

.loading {
    width: 90%;
    max-width: 600px;
    height: 20px;
    border: 4px solid #ffffff;
    margin: auto;
    position: relative;
}

.loading .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: #FF0099; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.2s;
}

h2 {
    font-size: 72px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.difficulty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
}

.difficulty div {
    padding: 10px;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px #3f3f3f;
    cursor: pointer;
    box-sizing: border-box;
}

.difficulty .easy{
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.difficulty .medium{
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.difficulty .hard{
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.difficulty div:not(:last-of-type) {
    margin-right: 15px;
}

.difficulty div.active {
    filter: opacity(1);
}

.difficulty div.inactive {
    filter: opacity(0.5);
}


