body {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    width: 100%;
}

nav {
    width: 100%;
    height: 89px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav img.logo {
    margin-left: 164px;
}

nav ul.rightSide {
    margin-right: 174px;
}

nav ul.rightSide li {
    display: inline-block;
    cursor: pointer;
}

nav ul.rightSide li:not(.button) {
    margin-right: 33px;
}

nav ul.rightSide li.button {
    margin-left: 7px;
    padding: 7px 14px 4px;
    background-color: #de6d6e;
    color: #fff;
    border-radius: 3px;
}

nav ul.rightSide li.button:hover {
    background-color: #fa6565;
}

header {
    background-image: url(img/headerCover.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
}

header .bubbles {
    display: inline-block;
    width: 206px;
    height: 202px;
    margin-top: 205px;
    position: relative;
    /*animation: rotate 5s steps(50) infinite;*/
    /*background-color: yellow;*/
}

header .bubbles:hover .bubbleTrajectory {
    animation: rotate 5s steps(50) infinite;
}


header .bubbles .bubbleTrajectory{
    position: absolute;
}
header .bubbles .bubbleTrajectory.one{
    width: 150px;
    height: 150px;
    /*background-color: red;*/
    left: -8px;
    bottom: -8px;
}
header .bubbles .bubbleTrajectory.two{
    width: 125px;
    height: 125px;
    /*background-color: blue;*/
    top: -8px;
    right: -3px;
}
header .bubbles .bubbleTrajectory.three{
    width: 100px;
    height: 100px;
    /*background-color: green;*/
    right: -4px;
    bottom: 19px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

header .bubbles .bubble{
    background-color: rgba(255,255,255,0.56);
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
}
header .bubbles .bubble.one{
    left: 33px;
    bottom: 33px;
    width: 117px;
    height: 117px;
}

header .bubbles .bubble.two{
    top: 33px;
    right: 33px;
    width: 92px;
    height: 92px;
}

header .bubbles .bubble.three{
    right: 29px;
    bottom: 29px;
    width: 71px;
    height: 71px;
}


header h3 {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 9px;
    padding-bottom: 19px;
    font-size: 50px;
    text-shadow: 1px 1px 13px rgba(0, 0, 0, 0.22);
}

header p {
    padding-bottom: 83px;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px 13px rgba(0, 0, 0, 0.22);
}

section {
    text-align: center;
    width: 100%;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.11);
}

section h3 {
    font-size: 25px;
    padding: 65px 0 27px;
    color: #404040;
}

section p {
    width: 65%;
    margin: auto;
    line-height: 1.3;
    padding-bottom: 85px;
    color: #636363;
}

section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73.4%;
    margin: auto;
}

section ul li div {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 52px;
    color: #fff;

}

section ul.ellipses li div:hover{
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.2));
}

section ul.ellipses li div:hover * {
    filter: opacity(26%);
}

section ul li div.blue {
    background-color: #4eb9f4;
}

section ul li div.green {
    background-color: #6fc125;
}

section ul li div.red {
    background-color: #ff5649;
    position: relative;
    text-align: center;
}

section ul li div.red img{
    padding-left: 18px;
}

section ul li div.red:hover:after {
    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text";
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: auto;
    transform: translate(-50%,-50%);
}

section ul li div.yellow {
    background-color: #e48f23;
}

section ul.ellipses li div img{
    padding-top: 12px;
}

section ul.ellipses li div label{
    margin-top: 12px;
}

main {
    width: 100%;
}

main ul {
    padding: 45px 140px 0 194px;
}

main ul li {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

main ul li div.rightSide h4 {
    color: #404040;
    line-height: 1.5;
    font-size: 25px;
    /*font-weight: 300;*/
}

main ul li div.rightSide p {
    max-width: 722px;
    line-height: 1.5;
    font-size: 13px;
    color: #8b8b8b;
}

main ul li img {
    width: 199px;
    height: auto;
    margin-right: 25px;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-image: url(img/footer-bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #aeaeae;
    /*padding: 37px 123px 34px 194px;*/
}

footer ul.horizontal {
    display: flex;
    justify-content: space-between;
    /*margin: 37px 123px 34px 194px;*/
    margin-right: 123px;
    margin-left: 194px;

}

footer ul.horizontal ul.vertical .heading {
    font-size: 21px;
    margin-bottom: 26px;
}

footer ul.horizontal ul.vertical li:not(.heading) {
    font-size: 15px;
    margin-bottom: 7px;
    cursor: pointer;
}

footer ul.vertical.last ul li div {
    background-color: #696b6a;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-top: 18px;
}

footer ul.vertical.last ul li .facebook {
    background-image: url(img/facebook.svg);
}

footer ul.vertical.last ul li .twitter {
    background-image: url(img/twitter.svg);
}

footer ul.vertical.last ul li .basketball {
    background-image: url(img/dribbble.png);
}

footer ul.vertical.last ul li .connections {
    background-image: url(img/share.png);
}

footer ul.vertical.last ul {
    display: flex;
    justify-content: space-between;
}

footer ul.vertical.last li.copyright {
    margin-top: 30px;
}

footer ul.vertical {
    margin-top: 37px;
    margin-bottom: 34px;
}
