body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background-image: url(img/bg-img1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 160px;
    text-align: center;
}

header nav {
    width: 90%;
    max-width: 1060px;
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: auto;
    margin-bottom: 160px;
}

header nav .leftSide .logo {
    height: 40px;
    width: auto;
    padding-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-right: 25px;
}

header nav .leftSide .icon {
    height: 14px;
    width: auto;
    margin-right: 10px;
}

header nav .leftSide {
    display: flex;
    align-items: center;
}

header nav .leftSide .phoneNumber {
    font-size: 14px;
}

header nav .rightSide {
    display: flex;
    align-items: center;
}

header nav .rightSide li:not(:last-of-type) {
    margin-right: 32px;
}

header nav .rightSide li.button {
    padding: 12px 15px;
    background-color: rgba(110, 4, 90, 0.6);
    border-radius: 5px;
}

header nav .rightSide li {
    text-transform: uppercase;
    cursor: pointer;
}

header h1 {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    width: 90%;
    max-width: 860px;
    line-height: 1.3;
    margin: auto;
    margin-bottom: 35px;
}

header button {
    background-color: rgba(110, 4, 90, 0.6);
    color: inherit;
    font: inherit;
    border: none;
    padding: 20px 27px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

header button:active {
    -webkit-box-shadow: inset 0px 0px 40px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 40px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 40px -2px rgba(0, 0, 0, 0.75);
}

header button:hover {
    background-color: rgba(226, 4, 103, 0.6);
}

section .inner {
    width: 90%;
    max-width: 980px;
    margin: auto;
    padding: 80px 0 110px;
}

section .inner h3 {
    font-size: 28px;
    text-align: center;

}

section .inner h3:after {
    content: '';
    display: block;
    margin: 20px auto 35px;
    width: 70px;
    height: 1px;
    background-color: rgba(110, 4, 90, 0.6);
}

section .inner > p {
    max-width: 720px;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 70px;
}

section .thirdsWrapper {
    display: flex;
    justify-content: space-between;
}

section .thirdsWrapper .third {
    width: 30%;
    text-align: center;
}

section .thirdsWrapper .third img {
    height: 64px;
    width: auto;
    margin-bottom: 25px;
}

section .thirdsWrapper .third h4 {
    font-weight: 600;
    margin-bottom: 23px;
}

section .thirdsWrapper .third p {
    line-height: 1.5;
    color: #680244;
}

section.team {
    background-color: #f0f0f0;
}

.team .thirdsWrapper .third {
    text-align: left;
}

.team .thirdsWrapper .third img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.team .thirdsWrapper .third h4 {
    margin-bottom: 12px;
}

.cta {
    background-image: url(img/bg-img2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

}

.cta .inner {
    width: 90%;
    max-width: 1060px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta .inner .leftSide {
    width: 70%;
    box-sizing: border-box;
    padding-right: 20px;
}

.cta .inner .button {
    width: 30%;
    background-color: rgba(110, 4, 90, 0.6);
    color: inherit;
    font: inherit;
    border: none;
    padding: 20px 27px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    text-align: center;
    line-height: 1.3;
}

.cta .inner .leftSide h3 {
    font-size: 32px;
    margin-bottom: 13px;
}

.cta .inner .leftSide p {
    font-size: 16px;
    line-height: 1.5;
}

footer .inner{
    width: 90%;
    max-width: 1060px;
    margin: auto;
    padding-top: 105px;
}

footer .inner .footerTop{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(226, 4, 103, 0.6);
    padding-bottom: 60px;
}

footer .inner .quarter h4{
    font-weight: 600;
    margin-bottom: 25px;
}

footer .inner .quarter li{
    color: #d405b4;
    line-height: 2;
}

footer .inner .quarter{
    width: 23%;
}

footer .inner .quarter p{
    color: #d405b4;
    line-height: 1.5;
    margin-bottom: 20px;
}

footer .inner .quarter input{
    background-color: lightgrey;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 43px;
}

footer .inputWrapper{
    position: relative;
}

footer .inputWrapper img{
    height: 16px;
    width: auto;
    position: absolute;
    cursor: pointer;
    right: 13px;
    top: 13px;
}

footer .footerBottom{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

footer .footerBottom .socialIcon{
    display: inline-block;
    margin-left: 10px;
    height: 32px;
    width: auto;
}










