body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f9fc;
  font-weight: 400;
}
body > .inner,
footer .inner {
  width: 70%;
  max-width: 950px;
  margin: 80px auto;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
header h1 {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header ul li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 0;
  cursor: pointer;
}
header ul li:not(first-of-type) {
  margin-left: 33px;
}
header ul li.active {
  color: #bdbdbd;
}
header ul li:hover {
  border-bottom: 3px solid #5c6bc0;
}
section {
  background-color: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
}
section .picture {
  height: 535px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
section.two .picture {
  background-image: url(../img/postTwoPicture.png);
}
section .inner {
  padding: 60px 0 80px;
}
section .inner .label {
  display: inline-block;
  color: #fff;
  background-color: #5c6bc0;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 700;
  padding: 11px 12px 10px;
  position: absolute;
  top: 20px;
  right: -12px;
  z-index: 5;
}
section .inner .container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}
section .inner .container .date {
  color: #bdbdbd;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 13px;
}
section .inner .container h2 {
  font-size: 29px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 40px;
}
section .inner .container .lineSeparator {
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 30px;
}
section .inner .container p {
  line-height: 2;
  font-size: 13px;
  margin-bottom: 18px;
}
section .inner .container p.summary {
  font-style: italic;
  font-size: 18px;
  color: #7f7f7f;
}
section .inner .container p:last-of-type {
  margin-bottom: 50px;
}
section .inner .container .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section .inner .container .flexContainer a.readMore {
  text-transform: uppercase;
  color: #5c6bc0;
  font-weight: 700;
  font-size: 15px;
}
section .inner .container .flexContainer ul.hashtags li {
  display: inline-block;
  font-size: 11px;
  color: #b2b2b2;
}
section .inner .container .flexContainer ul.hashtags li:not(first-of-type) {
  margin-left: 10px;
}
ul.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 20px 0 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}
ul.pagination li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}
ul.pagination li:not(:first-of-type) {
  margin-left: 16px;
}
ul.pagination li.active {
  color: #fff;
  background-color: #5c6bc0;
}
footer {
  background-color: #5c6bc0;
  padding: 67px 0 78px;
}
footer .inner {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .inner h1 {
  font-size: 27px;
  font-weight: 700;
  font-style: italic;
  color: #4a569a;
  margin-bottom: 65px;
}
footer .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}
footer .inner ul li {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
footer .inner ul li:not(first-of-type) {
  margin-left: 33px;
}
footer .inner ul li.active {
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}
footer .inner .lineSeparator {
  background-color: #000;
  -webkit-filter: opacity(0.06);
          filter: opacity(0.06);
  width: 100%;
  height: 2px;
  margin-bottom: 40px;
}
footer .inner .lineSeparator.ninetyPercent {
  width: 90%;
}
footer .inner p {
  font-size: 11px;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
  margin-bottom: 40px;
}
footer .inner p a.creatorLink {
  font-weight: 700;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}
footer .inner .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .inner .social img:not(first-of-type) {
  margin-left: 21px;
}
